{% load settings_value %}
<html>
    <head>
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript">
            let stripePublicKey = '{% settings_value "STRIPE_PUBLIC_KEY" %}';
            let stripe = Stripe(stripePublicKey);

            stripe.redirectToCheckout({
                sessionId: '{{ checkout_id }}'
            }).then(function (result) {
                console.warn(result)
            });
        </script>
    </head>
</html>
